@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700;900&family=Staatliches&display=swap");

* {
  font-family:
    "Noto Sans JP",
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
}

body,
html {
  max-height: -webkit-fill-available;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
